
.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
}
.item a {
    color: white;
    text-decoration: none;
}
.item a.activeLink {
    color: gold;
}
.navHeader {
    margin-bottom: 50px;
}
.bestFriends {
    display: flex;
    justify-content: space-evenly;
}